################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TFG_Jose_Manuel_Almagro_Dominguez/FileContentIndex/merges
